{% extends 'social/base.html' %}
{% load widget_tweaks %}

{% block content %}

<h2 class="container">Deletar Postagem</h2>

<form method="post" enctype="multipart/form-data" class="container">
    {% csrf_token %}

    <div class="row">

        <div class="col-6">
            <div class="form-group">
                <label for="autor">Autor:</label>
                {% render_field form.autor_postagem type='text' class="form-control" required='required' name='autor' %}
            </div>

            <div class="form-group">
                <label for="dia">Data da Postagem:</label>
                {% render_field form.data_postagem type='datetime-local' class="form-control" required='required' name='dia' %}
            </div>

            <div class="form-group">
                <label for="titulo">Título:</label>
                {% render_field form.titulo_postagem type='text' class="form-control" required='required' name='titulo' %}
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label for="conteudo">Conteúdo:</label>
                {% render_field form.conteudo_postagem type='text' class="form-control" required='required' name='conteudo' %}
            </div>

            <div class="form-group">
                <label for="avalia">Avaliação:</label>
                {% render_field form.id_avalia type='text' class="form-control" required='required' name='avalia' %}
            </div>
        </div>

        <div class="col-12 mt-3">
            <input type="submit" value="Deletar" class="btn btn-primary">
        </div>

    </div>
</form>

<hr>

<h2 class="container">Gerenciar Postagens</h2>

<table class="table container">
    <thead>
        <tr>
            <th>ID</th>
            <th>Autor</th>
            <th>Data</th>
            <th>Título</th>
            <th>Conteúdo</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
    </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <td data-label="ID">{{ post.id_postagem }}</td>
            <td data-label="Autor">{{ post.autor_postagem }}</td>
            <td data-label="Data">{{ post.data_postagem }}</td>
            <td data-label="Título">{{ post.titulo_postagem }}</td>
            <td data-label="Conteúdo">{{ post.conteudo_postagem }}</td>
            <td data-label="Editar">
                <a href="{% url 'editar_post' post.id_postagem %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="icon-edit"
                        viewBox="0 0 16 16">
                        <path
                            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                    </svg>
                </a>
            </td>
            <td data-label="Excluir">
                <a href="{% url 'deleta_post' post.id_postagem %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="icon-delete"
                        viewBox="0 0 16 16">
                        <path
                            d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1M.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8z"/>
                    </svg>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" style="text-align: center;">Nenhuma postagem cadastrada.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}
